@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-family:'Montserrat','sans-serif';
  font-size: 10px;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform:  uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: rgb(255,75,0);
}
#one{
    background-image: url(./img/one.png);
    background-size: cover;
    background-position: top center;
    z-index: 1;
}
#one .one{
    max-width:1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#one h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#one h1:nth-child(1){
    animation-delay: 1.5s;
}
#one h1:nth-child(2){
    animation-delay: 2.5s;
}
#one h1:nth-child(3){
    animation-delay: 3.5s;
}

#one h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(255,255,255);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#one h1:nth-child(1) span{
    animation-delay: 1s;
}
#one h1:nth-child(2) span{
    animation-delay: 2s;
}
#one h1:nth-child(3) span{
    animation-delay: 3s;
}
.cta{
   display: inline-block;
   padding: 10px 30px;
   color: white;
   background-color: transparent;
   border: 2px solid rgb(0,0,0);
   font-size: 2rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   margin-top: 30px;
   transition: 0.3s ease;
   transition-property: background-color, color;
}
.cta:hover{
    color:white;
    background-color: rgb(0,0,0);
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color:white;
}
.brand h1 span{
    color:black;
}
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}
.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding:0 10px;
}
.header .navlist ul{
   list-style-type: none;
   position: absolute;
   background-color: rgb(31,30,30);
   width:100vw;
   height: 100vh;
   left: 0;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 1;
   overflow-x: hidden ;
}
#header .navlist ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .navlist ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .navlist ul li:hover a::after{
   transform: translate(-50%, -50%) scale(1);
   letter-spacing: initial;
}
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0; 
}


#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/1111.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0);
    opacity: .5;
    z-index: -1;
}

#services .service-item .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;

}

#services .service-item p{
    color: white;
}

#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom:50px;
}
#projects .all-projects{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
#projects .project-items{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 80%;
   margin: 20px auto;
   overflow: hidden;
   border-radius: 10px;
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: linear-gradient(90deg, #ff416c, #ff4b2b, #6a11cb, #2575fc);
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
    color: white;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 4rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-items:hover .project-img img{
  transform: scale(1.1);
}
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
   width: 250px;
   height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1.2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta{
    color: red;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 5px solid rgb(253,141,141);
}
#about .col-left .about-img::after{
   content: '';
   position: absolute;
   left: -33px;
   top: 19px;
   height: 98%;
   width: 98%;
   border: 7px solid rgb(255,0,0);
   z-index: -1;
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;

    }
}
@keyframes text_reveal{
    100%{
        color: black;

    }
}